configuration {
  modi: ["run", "drun"];
  display-run: "Commands:";
  display-drun: "Applications:";
  drun-display-format: "{icon} {name}";
  font: "Hack 11";
  
  show-icons: true;
  icon-theme: "Adwaita";
}

@theme "/dev/null"
@import "tokyonight.rasi"
