* {
  font-family: Roboto, FontAwesome, "Material Design Icons", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: @theme_text_color;
}

window#waybar {
  background-color: transparent;
  border-bottom: 3px solid transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  border: none;
  border-radius: 0;
}

#workspaces button {
  font-weight: 900;
  margin: 6px 3px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3);
  min-width: 30px;
  border-radius: 6px;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  min-width: 40px;
}

#mode {
  background-color: #64727D;
  border-bottom: 3px solid #ffffff;
}

#language,
#submap,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-notification,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#bluetooth,
#window,
#workspaces {
  margin-top: 0.5rem;
  background-color: @theme_bg_color;
  padding: 0 0.5rem;
  border-radius: 6px;
  min-width: 20px;
}

#tray {
  margin-right: 0.5rem;
}

#submap {
  font-weight: bold;
  background-color: rgb(255, 0, 0);
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 8px;
}
